[submodule "Presto/vendor/GLFW"]
	path = Presto/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Presto/vendor/imgui"]
	path = Presto/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Presto/vendor/glm"]
	path = Presto/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Presto/vendor/spdlog"]
	path = Presto/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
